body {
  margin: 0;
}

.brow {
  background-color: black;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.brow .page {
  transition: all 0.8s;
}

.brow .page .text {
  transition: all 0.6s;
}

.brow .nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 30px;
}

.brow .nav img {
  display: block;
  width: 160px;
  height: 28px;
  position: absolute;
  top: 10px;
  left: 140px;
}

.brow .nav ul.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  top: 10px;
  right: 140px;
}

.brow .nav ul.list li {
  color: #A4A4A4;
  margin-left: 40px;
  line-height: 48px;
}

.sub {
  display: flex;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  text-align: center;
  width: 8px;
  height: 82px;
  right: 30px;
  top: 50%;
  box-sizing: border-box;
  margin-top: -36px;
}

.sub span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 8px;
}

.bigbox {
  height: 100%;
  transition: all 0.4s;
}

.bigbox .box1 {
  width: 100%;
  height: 100vh;
  background-image: url("img/span.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.bigbox .box1 .title {
  background-color: transparent;
  color: white;
  width: 50%;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  text-align: center;
}

.bigbox .box1 .title p.front {
  margin: 0;
  font-size: 55px;
  line-height: 60px;
  color: #fff;
  padding: 0 85px;
  letter-spacing: 2px;
}

.bigbox .box1 .title p.center {
  padding: 0 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 18px auto 36px;
}

.bigbox .box1 .title span {
  display: flex;
  padding: 0 165px;
  justify-content: center;
}

.bigbox .box1 .title span a {
  display: block;
  width: 200px;
  height: 48px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 16px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #FFF;
}

.bigbox .box1 .title span a:nth-child(1) {
  background: rgba(0, 0, 0, 0.5);
}

.bigbox .box1 .title span a:nth-child(2) {
  color: black;
  background-color: white;
}

.bigbox .box1 .title span a:nth-child(2) img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
}

.bigbox .box2 {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 1;
}

.bigbox .box2 .text {
  background-color: transparent;
  color: white;
  width: 50%;
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  transition: all 0.3s;
}

.bigbox .box2 .text p.front {
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.bigbox .box2 .text .line {
  width: 28px;
  height: 3px;
  background-color: #5E5E5E;
  margin: 20px 0;
}

.bigbox .box2 .text p.center {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

.bigbox .box2 .text p.behind {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.bigbox .box2 .text a {
  display: block;
  width: 200px;
  height: 48px;
  background-image: url("img/experience.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 30px;
}

.bigbox .box2 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bigbox .box3 {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 1;
}

.bigbox .box3 .text {
  background-color: transparent;
  color: white;
  width: 50%;
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.bigbox .box3 .text p.front {
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.bigbox .box3 .text .line {
  width: 28px;
  height: 3px;
  background-color: #5E5E5E;
  margin: 20px 0;
}

.bigbox .box3 .text p.center {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

.bigbox .box3 .text p.behind {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.bigbox .box3 .text a {
  display: block;
  width: 200px;
  height: 48px;
  background-image: url("img/experience.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 30px;
}

.bigbox .box3 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bigbox .box4 {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 1;
}

.bigbox .box4 .text {
  background-color: transparent;
  color: white;
  width: 50%;
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.bigbox .box4 .text p.front {
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.bigbox .box4 .text .line {
  width: 28px;
  height: 3px;
  background-color: #5E5E5E;
  margin: 20px 0;
}

.bigbox .box4 .text p.center {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

.bigbox .box4 .text p.behind {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.bigbox .box4 .text a {
  display: block;
  width: 200px;
  height: 48px;
  background-image: url("img/experience.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 30px;
}

.bigbox .box4 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bigbox .box5 {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 1;
}

.bigbox .box5 .text {
  background-color: transparent;
  color: white;
  width: 50%;
  position: absolute;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.bigbox .box5 .text p.front {
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.bigbox .box5 .text .line {
  width: 28px;
  height: 3px;
  background-color: #5E5E5E;
  margin: 20px 0;
}

.bigbox .box5 .text p.center {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
}

.bigbox .box5 .text p.behind {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.bigbox .box5 .text a {
  display: block;
  width: 200px;
  height: 48px;
  background-image: url("img/experience.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 30px;
}

.bigbox .box5 video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=./360.css.map */